
  table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
  table{
      width: 50%;
  }
  th{
      height: 70px;
  }
  td{
      padding: 10px;
  }
  .list{
      height: 360px;
  }
  .content{
      width: 67%;
  }
  img{
      height: 360px;
  }
